In [1]:
print('hello, world!')

hello, world!

In [2]:
a = 5
b = 7
c = a + b
print(c)

12

# heading of some topic

In [6]:
a = 5
print(id(a))
a = 'asd'
print(id(a))
b = [1, 2, 3]
print(id(b))
b.append(4)
print(id(b))

1859150112
2570481388600
2570481369224
2570481369224

In [7]:
2 ** 5

32

In [8]:
3 / 4

0.75

In [11]:
10 ** 1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [14]:
str = "pre aspera ad' \"astra\""
print(str)

pre aspera ad' "astra"

In [15]:
a = 5
b = 7
str = "a: {}; b: {}".format(a, b)
print(str)

a: 5; b: 7

In [16]:
dir("str")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
help("".isdigit)

Help on built-in function isdigit:

isdigit(...) method of builtins.str instance
    S.isdigit() -> bool

    Return True if all characters in S are digits
    and there is at least one character in S, False otherwise.

In [22]:
l = ["1", "2", "3"]
# " | ".join(l)

SyntaxError: invalid syntax (<ipython-input-22-5e80c42c0df7>, line 3)

In [28]:
dir([])
a = [5, 2, 1, 4, 5]
a.append(7)
a.reverse()
a.sort()
print(a)
b = a.pop()
print(a, b)

[1, 2, 4, 5, 5, 7]
[1, 2, 4, 5, 5] 7

In [35]:
d = {'surname': 'ivanoff'}
d['name'] = 'Misha'
d['age'] = 22
print(d)
print(d['name'])
print('name' in d)

d.get('names', 'not found')

del d['surname']
print(d)

{'surname': 'ivanoff', 'name': 'Misha', 'age': 22}
Misha
True
{'name': 'Misha', 'age': 22}

In [45]:
def sum_my(a, b = 3, c = 1): 
    '''
    sum of 2 digits
    '''
    result = a + b
    return result

print(my_sum(5))
help(my_sum)

IndentationError: unexpected indent (<ipython-input-45-0a3323f287e9>, line 5)

In [49]:
if not 'name1' in d or False:
    print('ok')

ok

In [58]:
sum = 0
for i in range(50, 60, 2):
    print(i)
    sum = sum + i
print(sum)

50
52
54
56
58
270
cat
dog
elephant

In [64]:
l = ['cat', 'dog', 'elephant']
for key, value in enumerate(l):
    print('{}: {}'.format(key, value))

for key, value in d.items():
    print('{}: {}'.format(key, value))

0: cat
1: dog
2: elephant
name: Misha
age: 22

In [81]:
l = list(range(50))
print(l)
print(l[-1])
print(l[0:10])
print(l[::3])
print(l[::-3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
49
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]
[49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [90]:
l = []
for i in range(10):
    l.append(2 ** i)
print(l)

f = lambda x: 2 ** x
lst = [f(i) for i in range(10)]
print(lst)

l = list(range(100))
nl = [i for i in l if i % 2 == 1]
print(nl)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [93]:
import numpy as n

a = n.zeros(5)
a

array([ 0.,  0.,  0.,  0.,  0.])

In [ ]:
import numpy as np

a = numpy.array([0, 1, 2, 3])
print a

a = np.zeros(5)
print a

a += 1
print a

# Return evenly spaced values within a given interval
b = np.arange(0, 10, 2)
print b

print a + b